@model AdminLeaveRequestVM

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-controller="LeaveTypes" class="btn btn-primary" asp-action="Create">
        <i class="fa fa-plus" aria-hidden="true"></i> Create New
    </a>
</p>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-primary">@Model.TotalRequest</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.TotalRequest)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-success">@Model.ApprovedRequest</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequest)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-warning">@Model.PendingRequest</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.PendingRequest)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-danger">@Model.RejectedRequest</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.RejectedRequest)</h5>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<table id="tableData" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approved Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName), @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@item.Id">
                        <i class="fa fa-file"></i>
                        Review
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
